In [1]:
import numpy as np
import pandas as pd

In [2]:
TARGET_COL = 'scalar_coupling_constant'
SUB_PATH   = '../submissions/'

In [3]:
sub_name = 'mol_transformer_se_v1'
sub_files = ['mol_transformer_se_v1_fold1-submission',
             'mol_transformer_se_v1_fold2-submission',
             'mol_transformer_se_v1_fold3-submission',
             'mol_transformer_se_v1_fold4-submission',
             'mol_transformer_se_v1_fold5-submission',
             'mol_transformer_se_v1_fold6-submission',
             'mol_transformer_se_v1_fold7-submission',
             'mol_transformer_se_v1_fold8-submission']

In [4]:
preds = pd.concat([pd.read_csv(SUB_PATH+f+'.csv', index_col=0) for f in sub_files], axis=1)
preds.head()

/anaconda2/envs/python36/lib/python3.6/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,scalar_coupling_constant,scalar_coupling_constant,scalar_coupling_constant,scalar_coupling_constant,scalar_coupling_constant,scalar_coupling_constant,scalar_coupling_constant,scalar_coupling_constant
id,,,,,,,,
4658147,17.371484,18.655994,20.307257,16.386114,16.962313,16.450684,14.794403,15.722380
4658148,175.052613,190.173212,183.319609,186.451602,186.399607,183.811991,183.777876,187.985145
4658149,3.091208,3.463454,5.346866,3.252589,1.787979,3.553262,2.929881,3.832933
4658150,178.712479,192.914780,182.283992,185.989138,184.165779,181.722357,179.891873,182.456367
4658151,16.901625,19.047178,19.848913,15.971139,17.519956,15.924099,15.599675,15.109349

In [5]:
sub_ens = pd.DataFrame(preds.mean(axis=1), columns=[TARGET_COL])
sub_ens.head()

         scalar_coupling_constant
id
4658147                 17.081329
4658148                184.621457
4658149                  3.407271
4658150                183.517096
4658151                 16.990242

In [6]:
sub_ens.to_csv(f'{SUB_PATH}{sub_name}-submission.csv')