In [27]:
import numpy as np
import pandas as pd

In [28]:
TARGET_COL = 'scalar_coupling_constant'
SUB_NAME = 'mixt_mpnn_v2_moltrans_v1_3folds'
PATH = '../tmp/'
SUB_PATH = '../submissions/'
OOF_PATH = '../oofs/'

In [29]:
train_df = pd.read_csv(PATH+'train_proc_df.csv', index_col=0)
val_idxs = pd.read_csv(PATH+'val_idxs_8_fold_cv.csv', index_col=0)

/anaconda2/envs/python36/lib/python3.6/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [30]:
sub_files = ['mol_transformer_dropout01_v1_fold1-submission', 
             'mol_transformer_v1_fold1-submission',
             'mol_transformer_v1_fold2-submission',
             'mol_transformer_v1_fold3-submission',
             'mpnn-v2-submission'
            ]
preds = pd.concat([pd.read_csv(SUB_PATH+f+'.csv', index_col=0) for f in sub_files], axis=1)

/anaconda2/envs/python36/lib/python3.6/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [31]:
preds.head()

,scalar_coupling_constant,scalar_coupling_constant,scalar_coupling_constant,scalar_coupling_constant,scalar_coupling_constant
id,,,,,
4658147,13.284237,17.397339,18.553896,20.341736,15.146106
4658148,175.875340,174.604720,190.257780,183.075060,189.054861
4658149,0.993330,3.171642,3.578642,5.365023,1.804049
4658150,174.627170,178.436360,192.943820,182.046650,189.054860
4658151,14.346939,16.862960,18.965857,19.822737,15.146106

In [32]:
sub_ens = pd.DataFrame(preds.mean(axis=1), columns=[TARGET_COL])
sub_ens.head()

         scalar_coupling_constant
id
4658147                 16.944663
4658148                182.573552
4658149                  2.982537
4658150                183.421772
4658151                 17.028920

In [33]:
sub_ens.to_csv(SUB_PATH+f'{SUB_NAME}-submission.csv')